<app-header title="Preferences"></app-header>

<ion-content [fullscreen]="true">
  <app-header-condensed title="Preferences"></app-header-condensed>

  <ng-container *ngIf="config$ | async as config">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>User</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-input type="text" label="Name" labelPlacement="stacked" [value]="config.userName" (ionChange)="onChange('userName', $event.target.value)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Avatar" labelPlacement="stacked" [value]="config.userIcon" (ionChange)="onChange('userIcon', $event.target.value)">
          <ion-select-option *ngFor="let avatar of userAvatars" [value]="avatar.icon">
            {{ avatar.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="number" label="Stride Length (m)" labelPlacement="stacked" [value]="config.userStrideLength_m" (ionChange)="onChange('userStrideLength_m', $event.target.value)"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Tail</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-input type="text" label="Name" labelPlacement="stacked" [value]="config.tailName" (ionChange)="onChange('tailName', $event.target.value)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Avatar" labelPlacement="stacked" [value]="config.tailIcon" (ionChange)="onChange('tailIcon', $event.target.value)">
          <ion-select-option *ngFor="let avatar of tailAvatars" [value]="avatar.icon">
            {{ avatar.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Other</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-input type="number" label="Initial Lead (km)" labelPlacement="stacked" [value]="config.userStrideLength_m" (ionChange)="onChange('initialLead_km', $event.target.value)"></ion-input>
      </ion-item>
    </ion-item-group>
  </ng-container>
</ion-content>
