<app-header title="About"></app-header>

<ion-content [fullscreen]="true">
  <app-header-condensed title="About"></app-header-condensed>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Run (or walk!) from an immortal snail (or an adversary of your choice). Move your body to put distance between you and them or face an uncertain threat...
        </p>
        <p>
          Just kidding! You can opt out just as easily as you opt in. We just want you to make physical activity a routine.
        </p>

        <h3>
          Attributions
        </h3>

        <p>
          The running shoe favicon (`src/assets/icon/favicon.ico` and accompanying files) and other emojis are used under the [CC-BY 4.0](https://creativecommons.org/licenses/by/4.0/) license from the [twemoji](https://github.com/twitter/twemoji) project.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
