<app-header title="About"></app-header>

<ion-content [fullscreen]="true">
  <app-header-condensed title="About"></app-header-condensed>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Run (or walk!) from an ephemeral adversary of your choice. Move your body to put distance between you and them or face an uncertain threat...
        </p>
        <p>
          Just kidding! You can opt out just as easily as you opt in. We just want you to make physical activity a routine.
        </p>

        <h3>
          Attributions
        </h3>

        <p>
          The running shoe favicon and other emojis are used under the <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a> license from the <a href="https://github.com/twitter/twemoji">twemoji</a> project.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
