<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Move</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Move</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-text-center" style="font-size: 2em;">
      <ion-col size="2">
        <ion-icon aria-hidden="true" src="svg/{{ config.tailIcon }}.svg" style="height: 100%"></ion-icon>
      </ion-col>

      <ion-col>
        <p *ngIf="isUserCaught; else stepCounter">You were caught by {{ config.tailName }}!</p>
        <ng-template #stepCounter>
          <app-step-counter></app-step-counter>
        </ng-template>
      </ion-col>

      <ion-col size="2">
        <ion-icon aria-hidden="true" src="svg/{{ config.userIcon }}.svg" style="height: 100%"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
